# EmailJS Configuration
# Create a free account at https://www.emailjs.com/
# Copy your Service ID, Template ID, and Public Key below:

VITE_EMAILJS_SERVICE_ID=service_142ca74
VITE_EMAILJS_TEMPLATE_ID=template_amzndmd
VITE_EMAILJS_PUBLIC_KEY=lk4QG9BZysc3Si_9k